.hero-section {
  overflow: hidden;
}
.home-hero-section {
  min-height: calc(25rem + 10vh);

  @media (max-width: 665px) {
    min-height: calc(100vh - #{$navbar-height});
  }
}
.hero-title {
  width: 33.3rem;
  max-width: 100%;
}
.hero-subhead {
  display: block;
  margin-top: $sp-md;
}
.hero-bg {
  @include absolute-expand;
  z-index: -1;
  object-position: 0% 100%;
}
