.quotes-section {
  padding-top: $sp-lg;
  z-index: 1;

  &:not(:last-child) {
    margin-bottom: -4rem !important;
  }

  & + [class*="section"] {
    padding-top: $sp-xxl * 2;
  }
}

.quotes-list {
  column-gap: 4px;
  column-width: 19.25rem;

  @media (max-width: 665px) {
    columns: 2;
  }
}
