.stat-tile {
  @include tile-gradient;
  flex: 1 0 auto;
  display: block;
  padding: $sp-xl;
  margin: 2px;
  box-shadow: 0 2px 47px 0 rgba($black, 0.31);
}

.stat-tile-img {
  width: 36.363636%;
  float: left;
  margin-right: $sp-xl;

  &:not(.stat-tile-album-img) {
    margin-top: $sp-xxs;
  }
}
